<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <title>Commune - Dashboard</title>
</head>

<body>
    <div class="navbar">
        <img src="../static/images/logo-web.png" alt="Logo">
        <a href="{{ url_for('auth.logout') }}" class="btn">Logout</a>
    </div>
    <div class="container">
        <h3>Welcome to dashboard</h3>
    </div>
</body>

</html>