<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Commune</title>
</head>

<body>
    <div class="container">
        <div class="left">
            <img src="../static/images/logo-web.png" alt="Logo" class="logo">
            <h3 class="heading">Video calls with anyone, anywhere</h3>
            <p class="subheading">Stay connected and collaborate with friends, family, and colleagues no matter where you are.</p>
            <a href="{{ url_for('auth.login') }}" class="btn-primary">Sign in</a>
        </div>
        <div class="right">
            <img src="../static/images/landing-vector.png" alt="" class="vector">
        </div>
    </div>
</body>

</html>
