<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/signin.css">
    <title>Commune</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="heading">
                <img src="../static/images/favicon.png" alt="Commune" class="logo">
                <p>Login to your account</p>
            </div>

            <form action="{{ url_for('auth.login') }}" method="post">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="someone@example.com" required>

                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="********" required>

                <div class="login">
                    <label for="terms">Not registered yet? <a href="{{ url_for('auth.register') }}">Sign up here</a></label>
                </div>
                <input class="button" type="submit" value="Login">
            </form>
        </div>

        <div class="right"></div>
    </div>
    <script>
        document.querySelector('form').addEventListener('submit', function(event) {
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            if (!email || !password) {
                event.preventDefault();
                alert('Please fill out both fields.');
            }
        });
    </script>
</body>

</html>
