@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #f7f7f7;
    overflow: hidden;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border-bottom: 2px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar img {
    width: 150px;
    height: auto;
}

.navbar .btn {
    text-decoration: none;
    color: white;
    background-color: #6c5ce7;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: 600;
    border: none;
}

.navbar .btn:hover {
    background-color: #574b90;
    transform: scale(1.05);
}

/* Responsive design */
@media (max-width: 768px) {

    .navbar img {
        margin-bottom: 10px;
    }

    .navbar .btn {
        align-self: flex-end;
    }
}

.container {
    height: 80vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 3rem;
    color: #8e8e8e;
}
