<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/signin.css">
    <title>Commune</title>
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="heading">
                <img src="../static/images/favicon.png" alt="Commune" class="logo">
                <p>Login to your account</p>
            </div>

            <form action="/submitNewUser" method="post">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="someone@example.com">

                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="********">

                <div class="login">
                    <label for="terms">Not registered yet? <a href="/register">sign here<a></label>
                </div>


                <input class="button" type="submit" value="Login">
            </form>

        </div>

        <div class="right"></div>

    </div>
</body>

</html>