<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/signup.css">
    <title>Commune</title>
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="heading">
                <img src="../static/images/favicon.png" alt="Commune" class="logo">
                <p>Create a new account</p>
            </div>

            <form>
                <label for="text">Username</label>
                <input type="text" name="text" id="name" placeholder="Jane Doe">

                <label for="email">Email</label>
                <input type="email" name="name" id="email" placeholder="someone@example.com">

                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="********">

                <div class="login">
                    <label for="terms">Already have an account? <a href="/login">login here<a></label>
                </div>


                <input class="button" type="button" value="Sign Up">
            </form>

        </div>

        <div class="right"></div>

    </div>
    <script src="../static/js/signup.js"></script>
</body>

</html>